.table{
    border: 1px solid black;
    border-collapse: collapse;
}
.table tr:nth-child(even){
    background-color: gray;
    
}
.table td,.table th{
    border: 1px solid black;
    width: 100px;
    padding: 10px;
}