html{
    font-size: 62.5%;
}
.table{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.6rem;
}
.table tr:nth-child(even){
    background-color: gray;  
}
.table tr:hover{
    background-color: black;
    color: white;
}
.table td,.table th{
    border: 1px solid black;
    width: 100px;
    padding: 10px;
}
/*mobile view*/
.flex-container{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.flex-child{
    background-color: gray;
    font-size: 2rem;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.flex-child:hover{
    background-color: rgb(73, 73, 73);
}
/*desktop view*/
@media(min-width:768px){
    .flex-container{
        flex-direction: row;
        justify-content: space-between;
    }
}

/*grid*/

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    column-gap: 1rem;
    row-gap: 1rem;
}
.grid-child{
    font-size: 1.6rem;
    background-color: gray;
    border: 1px solid black;
    padding: 10px;
}